<form method="post" action="{{ path('materiels_delete', {'id': materiel.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir supprimer ce matériel?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materiel.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
